.landing-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 0;
    padding-top: 4.4rem;
}

.landing-container {
    height: 100vh;
    position: relative;
}

.intro{
    position: absolute;
    top: 30%;
    margin-left: 4rem;
}

.intro h1:nth-of-type(1){
    background-color: var(--secondary);
    width: fit-content;
}

.intro h1:nth-of-type(2){
    background-color: var(--white-color);
    width: fit-content;
}

@media screen and (max-width: 1000px) {
    .intro > p {
        background-color: var(--white-color);
    }
}

@media screen and (max-width: 720px) {
    .intro {
        margin-left: 2rem;
    }
}