.home__container{
    width: 100%;
}

.notes__container {
    width: 100%;
    justify-content: flex-start;
}

.note__editor{
    width: 50%;
    margin: 2rem auto 2rem;
}

.note__header {
    border: 1px solid #ccc;
    border-radius: 8px;
}

.border-bottom-0{
    border-bottom: 0;
    border-radius: 8px 8px 0 0;
}

/* || Overriding react-quill properties */

.quill {
    position: relative;
    height: max-content !important;
}

.ql-editor {
    padding-top:2px !important ;
}

.ql-toolbar.ql-snow  {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    border-radius:  0 0 8px 8px
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
    padding-bottom: 4rem;
    border-radius: 0 0 8px 8px;
}