@import url("https://cdn.jsdelivr.net/gh/ApurvaSawant11/Dazzle-UI-Components@development/components/components.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


:root {
    --primary: #3c78ef;
    --primary-hover: #2a2c30;
    --secondary: #feb000;
    --tertiary: #cf7500;
    --light-blue:#c7eafa70;
    --light-yellow:#f4f09c;
    --overlay:rgba(77, 77, 77, 0.71);
    --border-color: #ccc;
}

* {
    font-family: 'Noto Sans', sans-serif;
}

.flex-container {
    display: flex;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    border-radius: 50%;
}

