.edit-modal {
    width: 37%;
    min-width: 25rem;
    max-width: 35rem;
    margin-top: 10rem;
    border-radius: 8px;
}

.modal-container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--overlay);
    z-index: 4000;  
}

.edit-modal > .quill{
    height: 3in !important;
}

.priority {
    background: transparent;
    width: 8rem;
    border-radius: 4px;
    padding: 3px 5px 3px 3px;
}

.editor-footer {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

